#hedera .col-12 #accept {
    width: 40%;
}

#hedera .col-12 #deny {
    width: 40%;
}

#hedera #sc-btn-group {
    width: 200px;
    margin-top: 10px;
    overflow-y: scroll;
}

#hedera #params {
    border-bottom: 1px solid whitesmoke;
    overflow-y: scroll;
    max-height: 125px;
}